.Name{
  font-weight: bold;
}

.role{
  color: #F47D27;
}
.image{
  
  width: 30%;
  border-radius: 4px;
}
.email{

  font-size: 16px;
  background-color: #e7e7e7; color: black;
  padding: 12px 28px;
  border-radius: 4px;
  margin: 20px;
  border: none;
}
.linkdlen{
  font-size: 16px;
  background-color: #297FE5; color: white;
  padding: 12px 28px;
  border-radius: 4px;
  margin: 20px;
  border: none;
}
.main{
  padding: 20px;
}
.about, .interests{
  font-weight: bold;
  padding-bottom: 10px;
}
.footer{
  background-color: #D5D4D8;
  padding: 20px;
}